@model MarvelApp.Dto.personagemPageDto



<hr />
<h3 class="text-center">Filtre</h3>
<form class="text-center" method="post">
    <div class="row">
        <div class="col-10 my-1">
            <input asp-for="FiltroDePesquisa.Nome" placeholder="Digite o nome do personagem." class="form-control" />
        </div>
        <div class="col-2 my-1">
            <input asp-for="FiltroDePesquisa.NomeInicial" placeholder="Palavra ou Letra" class="form-control" />
        </div>
        <div class="col-12 my-1">
            <select asp-for="FiltroDePesquisa.orderBy" class="form-control">
                <option value="0">Ordene</option>
                <option value="name">Nome</option>
                <option value="modified">Data de Modificação</option>
            </select>
        </div>
        <div class="col-12 mt-2 d-flex justify-content-center">
            <div class="col-3">
                <label></label>
                <button class="form-control btn btn-primary" onclick="myFunction()" type="submit">Procurar</button>
            </div>
        </div>
        <div class="col-12"><hr /></div>
        @{
            if (Model.ContagemDePaginas != 0)
            {
                <div class="col-12 my-4 mx-0 d-flex justify-content-center">
                    <div class="col-3">
                        <label>Pagina:</label>
                        <select asp-for="Pagina" oninput="this.form.submit()" class="form-control">
                            @{

                                for (int i = 0; i < (Model.ContagemDePaginas); i++)
                                {
                                    <option value="@i">@(i)</option>
                                }
                            }
                        </select>
                        <input id="paginaAntiga" name="paginaAntiga" type="hidden" value="0" />
                    </div>

                </div>
            }
        }


    </div>




    <hr />
    @{
        /*foreach (var obj in Model)
        {
    <table class="table table-bordered">
    <caption>Favoritos:</caption>
    <tr>
        <td>Desfavoritar</td>
        <td>Foto</td>
        <td>Nome</td>
        <td>Descrição</td>
    </tr>
    @{

        <tr>
            <td><button class="btn btn-primary">x</button></td>
            <td><img src="@obj.URLIMAGEM" width="320" height="205" /></td>
            <td>@obj.Nome</td>
            <td>@obj.Descricao</td>
        </tr>


    }
    </table>
    */
    }

    <hr />
    <h3>Personagens</h3>






    <table class="table table-bordered">
        <tr>
            <td>ID</td>
            <td>Foto</td>
            <td>Nome</td>
            <td>Descrição</td>
        </tr>
        @{
            foreach (var obj in Model.Personagens)
            {
                <tr>
                    <td>@obj.ID</td>
                    <td><img src="@obj.URLIMAGEM" width="220" height="105" /></td>
                    <td>@obj.Nome</td>
                    <td>@obj.Descricao</td>
                </tr>

            }
        }
    </table>





</form>


<script>
    function myFunction() {
         document.getElementById('paginaAntiga').value = @Model.Pagina;
    }

</script>
